<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Taco Tracker</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<link href="https://fonts.googleapis.com/css?family=Oswald|Skranji" rel="stylesheet">
	<link rel="stylesheet" href="/assets/css/taco_style.css" type="text/css"/>
	<script src="https://code.jquery.com/jquery.js"></script>
	<script src="/assets/js/tacos.js"></script>
</head>
<body style="background-image:url('assets/img/grill.jpg'); background-repeat: no-repeat; background-size: cover">	
		{{{ body }}}
<div>
	<footer class="text-center py-3 mt-2 mb-0"> Website by Amanda White
	</footer>
</div>
</body>
</html>