<div>
  {{#each tacos}}
    {{#unless devoured}}
      {{> tacos/taco-block devoured=true}}
    {{/unless}}
  {{/each}}
</div>

<h2>Tacos that are devoured!</h2>

<div>
  {{#each tacos}}
    {{#if devoured}}
      {{> tacos/taco-block devoured=false}}
    {{/if}}
  {{/each}}
</div>

<h2>Add a Taco</h2>
<form class="create-form">

  <div class="form-group">
    <label for="bu">Taco Name:</label>
    <input type="text" id="bu" name="name">
  </div>

  <div class="form-group">
    <label for="devoured">Devoured?</label><br>
    <input type="radio" name="devoured" value="1" checked> Devoured!<br>
    <input type="radio" name="devoured" value="0"> Awake
  </div>

  <button type="submit">Add Taco</button>
</form>
