<div class="row text-white bg-dark mb-4">
  <div class="col-md-4 col-12 card-header">
    <img src="/assets/img/burgerimg.jpg" class="img-fluid" height="180px">
  </div>
  <div class="col-md-8 col-12 card-header pt-4">
    <h1>Taco Tracker</h1>
    <h3>Too Many Choices to Have Just One!</h3>
  </div>
</div>
<div class="jumbtron">
  <div class="row mx-2">
    <div class="card border-0 rounded-0 mb-3 mx-4 id="options"">
      <h2 class="card-header text-center">Tacos To Eat!</h2>
      <div class="card-body">
        <div class="card-text"> 
          {{#each tacos}}
            {{#unless devoured}}
              {{> tacos/taco-block devoured=true}}
            {{/unless}}
          {{/each}}
        </div>
      </div>
    </div>
    <div class="card border-0 rounded-0 mb-3 mx-4 id="options"">
      <h2 class="card-header text-center">Devoured Tacos!</h2>
      <div class="card-body">
        <div class="card-text">        
          {{#each tacos}}
            {{#if devoured}}
              {{> tacos/taco-block devoured=false}}
            {{/if}}
          {{/each}}
        </div>
      </div>
    </div>
    <div class="card border-0 rounded-0 mb-3 mx-4 id="options"">
      <h2 class="card-header text-center">Place An Order</h2>
      <div class="card-body">
        <div class="card-text">
          <form class="create-form">
            <div class="form-group">
              <label for="bu">Taco Name:</label>
              <input type="text" id="bu" name="name">
            </div>
            <button type="submit" class="btn btn-outline-secondary rounded-0">Place Order</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

