
<div class="taco-div">
	<div class="row">
		<div class="col-md-7 col-7">
			{{taco_name}}
		</div>
		<div class="col-md-3 col-3">
			<button class="change-devour btn btn-outline-secondary rounded-0" data-id="{{id}}" data-newdevour="{{devoured}}">
				{{#if devoured}}Devour It!{{else}}Reorder it!{{/if}}
			</button>
		</div>
	</div>
</div>