.card-header {
	font-size: 2rem;
	background-color: rgb(30, 161, 4);
	font-family: 'Irish Grover', cursive;
	text-align: left;
	
}

h1 {
	color: #3C2B1B;
	font-weight: bold;
	font-size: 5rem;
}

h3 {
	font-size: 2rem;
	color: #fcecdc8;
}

h2 {
	color: #3C2B1B;
}

.card-body {
	background-color: #fcecdc;
	
	/*background-color: rgba(226, 225, 224, 0.1);*/
	/*filter: alpha(opacity=10);*/
	/*opacity: 0.5;*/
}

.card-text {
	font-size: 17px;
	font-family: 'Irish Grover', cursive;
}

.col-4 img {
	padding-left: 50px;
}

.jumbotron {
	height: 100%;
	margin-left: 20px;
}

#options {
	margin: 10px 50px 10px 50px !important;
}

footer {
	background-color: #3C2B1B;
	color: #ccc9c9;
	/*height: 70px;*/
	font-size: 13px;
}

.btn-outline-secondary {
	padding: 4px;
	background-color: white;
	font-size: 15px;
}

.card {
	width: 365px;
	border-radius: 35px;
}

.taco-div {
	padding-bottom: 7px;
}

.card border {
	border-radius: 35px;
}